/* stylelint-disable selector-class-pattern */
.table-container {
    position: relative;
    background: #fff;
    border: 1px solid #dfe0e5;

    &.border-none {
        border: none !important;
    }

    .pagination_box {
        padding: 15px;
        background-color: rgb(255, 255, 255);

        .el-pagination {

            /deep/.btn-prev,
            /deep/.el-pager,
            /deep/.btn-next {
                float: right !important;
            }
        }
    }
}

/deep/ .content-line-height {
    display: none;
}

.setting-fields-checkout-group {
    display: flex;

    .source-list {
        width: 60%;
        height: calc(100vh - 400px) !important;
        border: 1px solid rgb(220, 222, 229);
        overflow-y: auto;

        .header {
            padding-left: 20px;
            padding-right: 20px;
            height: 40px;
            line-height: 40px;
            background-color: rgb(250, 251, 253);
            border-bottom: 1px solid rgb(220, 222, 229);
        }

        .search {
            padding: 20px;
        }

        .organization-box {
            padding: 0 0 20px 20px;

            .custom-tree-node {
                flex: 1;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding-right: 20px;

                /deep/.el-checkbox__inner {
                    border-radius: 50%;
                }
            }
        }
    }

    .selection-container {
        border: 1px solid #dcdee5;
        border-bottom: none;
        background-color: #f5f7fa;
        padding: 12px 24px;
        height: calc(100vh - 400px) !important;
        flex: 1;
        margin-left: 10px;
        overflow-y: auto;

        >p {
            justify-content: space-between;
            font-size: 12px;
            margin: 0 0 10px 0;
            color: #63656e;

            span {
                display: inline-block;
                color: $cw-color-primary;
            }

            .clear {
                float: right;
                cursor: pointer;
            }
        }

        ul {
            margin-top: 15px;

            li {
                background: #fff;
                padding: 10px;
                position: relative;
                border-bottom: 1px solid $cw-color-border-0;
                display: flex;
                align-items: center;

                &:last-child {
                    border: none;
                }

                span {
                    font-size: 12px;
                    color: $cw-color-text-3;
                    padding-right: 10px;
                }

                >i {
                    display: none;
                    position: absolute;
                    right: 5px;
                    top: 12px;
                    font-size: 18px;
                }

                &:hover {
                    cursor: pointer;

                    i {
                        display: inline-block;

                        &:hover {
                            color: $cw-color-primary;
                        }
                    }
                }
            }
        }
    }

    /deep/ .el-checkbox {
        width: 180px;
        padding-bottom: 10px;
    }

    .ghost {
        background: #f5f4f4 !important;
        border: #1272FF 1px solid !important;
    }

    .mover {
        width: 16px;
        color: #a7b0b1;

        &:hover {
            cursor: move;
        }
    }
}

.setting {
    display: flex;
    font-size: 14px;
    color: #475468;
    cursor: pointer;
}

/deep/ th {
    .cell {
        white-space: nowrap;
    }
}
