SECRET_KEY=weops-lite
DEBUG=True
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=
ENABLE_CELERY=False
CELERY_BROKER_URL=
CELERY_RESULT_BACKEND=
CELERY_BEAT_SCHEDULER=
REDIS_CACHE_URL=

KEYCLOAK_URL=
KEYCLOAK_URL_API=
KEYCLOAK_ADMIN_USERNAME=admin
KEYCLOAK_ADMIN_PASSWORD=
KEYCLOAK_REALM=
KEYCLOAK_CLIENT_ID=
KEYCLOAK_UI_CLIENT_ID=

# For Test
TEST_BASE_URL=http://127.0.0.1:8000
KEYCLOAK_TEST_ADMIN=
KEYCLOAK_TEST_ADMIN_PASSWORD=

WEB_SERVER_URL=