.organization-manage {
    .custom-tree-node {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 12px;
    }

    /* stylelint-disable selector-class-pattern */
    /deep/.el-tree-node__content {
        height: 50px;
        border: 1px solid #EBEEF5;
        border-top: none;
    }

    /deep/.border-right-none {
        border-right: none;
    }

    .tree-box {
        .tree-box-body {
            overflow: auto;
            max-height: calc(100vh - 290px);
        }

        .tree-box-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            height: 40px;
            border: 1px solid #EBEEF5;
            padding-left: 24px;
            color: #909399;
            font-weight: bold;
            background-color: #f4f5f8;
            font-size: 12px;

            span {
                &:nth-last-child(1) {
                    width: 278px;
                }
            }
        }
    }
}
