/* stylelint-disable selector-class-pattern */
.el-header {
    padding: 0 !important;
    height: 52px !important;
}

.el-container {
    background: #edeff3;

    .el-aside {
        border-radius: 20px 0 0 0;
        height: calc(100vh - 100px);

        .el-menu {
            height: 100%;
            max-height: calc(100vh - 52px);

            /deep/.el-submenu__title:hover {
                background: transparent !important;
            }

            .el-menu-item {
                text-align: left;
                padding: 0 20px !important;
                border-right: solid 1px #e6e6e6;

                &:hover {
                    background: #edeff3 !important;
                }
            }

            .el-menu-item.is-active {
                background: #d3e1f9 !important;

                &:hover {
                    background: #d3e1f9 !important;
                }
            }

            /deep/.nav-slider-footer {
                position: fixed;
                bottom: 10px;
                left: 20px;
                transform: translateY(-50%);

                i {
                    font-size: 16px;
                    cursor: pointer;
                    color: #7588a3;
                    transition: all;
                }
            }
        }
    }

    .el-main {
        background-color: #fff;
        border-radius: 0 20px 0 0;
    }
}

.navigation-header {
    display: flex;
    align-items: center;
    background-color: #edeff3;
    // flex-basis: 52px;
    height: 52px;
    padding-right: 24px;

    .navigation-title {
        display: flex;
        align-items: center;
        padding: 8px 16px;
        width: 200px;

        .title-desc {
            font-size: 16px;
            font-weight: 700;
            color: #1e252e;
            display: inline-block;
            margin-left: 16px;
            line-height: 24px;
            overflow: hidden;
            white-space: nowrap;
        }
    }

    .header-right {
        display: flex;
        flex: 1;
        justify-content: space-between;

        .top-nav {
            display: flex;
            height: 100%;
            max-width: calc(100vw - 470px);
            overflow-x: auto;

            .top-nav-item {
                list-style: none;
                margin-right: 45px;
                display: flex;
                align-items: center;
                color: #475468;
                font-size: 14px;
                white-space: nowrap;
                padding: 5px 10px;

                &:hover {
                    cursor: pointer;
                    background: #f4f5f8;
                    border-radius: 4px;
                }

                &:last-child {
                    margin-right: 0;
                }
            }

            .active-top-nav {
                color: #409eff;
            }
        }

        .other-info {
            display: flex;
            height: 100%;
            align-items: center;
            flex: 1;
            flex-direction: row-reverse;

            .header-user {
                text-align: center;
                vertical-align: center;
            }

            .show-name {
                display: inline-block;
                max-width: 100px;
            }
        }
    }
}

.el-menu-vertical:not(.el-menu--collapse) {
    width: 200px;
    min-height: 400px;
}

// 原始样式
.child-menu-item .navigation-menu-item-name {
    overflow: auto !important;
    white-space: normal !important;
}

.monitor-logo {
    display: flex;
    align-items: center;

    .credit-tip {
        position: absolute;
        top: 5px;
        left: 140px;
    }
}

.icon-class {
    font-size: 16px;
    min-width: 38px;
    text-align: left;
    display: inline-block;
}

.bk-navigation-title {
    flex: 0 0 200px !important;
}

.monitor-navigation-header {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: 100%;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 14px;
    //justify-content: flex-end;
}

.monitor-navigation-header .header-title {
    color: #63656E;
    font-size: 16px;
    display: flex;
    flex: 1;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: -6px;

    .header-title-tip {
        color: #979BA5;
        font-size: 12px;
        margin-left: 8px;
        margin-top: 1px;
    }
}

.monitor-navigation-header .header-mind {
    font-size: 14px;
    position: relative;
    height: 32px;
    line-height: 32px;
    min-width: 140px;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #63656e;

    .iconfont {
        font-size: 14px;
        margin: 0 4px;
    }
}

.monitor-navigation-header .header-mind.is-left {
    color: #63656E;
}

.monitor-navigation-header .header-mind.is-left:hover {
    color: #3A84FF;
}

.monitor-navigation-header .header-mind-mark {
    position: absolute;
    right: 8px;
    top: 8px;
    height: 7px;
    width: 7px;
    border: 1px solid #27334C;
    background-color: #EA3636;
    border-radius: 100%;
}

.monitor-navigation-header .header-mind-mark.is-left {
    border-color: #F0F1F5;
}

.monitor-navigation-header .header-mind:hover {
    cursor: pointer;
    color: #D3D9E4;
}

.monitor-navigation-header .header-help {
    font-size: 14px;
    position: relative;
    height: 32px;
    min-width: 140px;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #63656e;
    line-height: 32px;

    .iconfont {
        font-size: 16px;
        margin: 0 4px;
    }
}

.monitor-navigation-header .header-help.is-left {
    color: #63656E;
}

.monitor-navigation-header .header-help.is-left:hover {
    color: #3A84FF;
}

.monitor-navigation-header .header-help:hover {
    cursor: pointer;
    color: #D3D9E4;
}

.monitor-navigation-header .header-user {
    height: 100%;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #96A2B9;
    margin-left: 8px;
}

.monitor-navigation-header .header-user .el-icon-caret-bottom {
    margin-left: 5px;
    font-size: 16px;
}

.monitor-navigation-header .header-user.is-left {
    color: #63656E;
}

.monitor-navigation-header .header-user.is-left:hover {
    color: #409eff;
}

.monitor-navigation-header .header-user:hover {
    cursor: pointer;
    color: #D3D9E4;
}

.monitor-navigation-admin {
    width: 100px;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    border-radius: 4px;
    background: #FFFFFF;
    border: 1px solid #E2E2E2;
    -webkit-box-shadow: 0 3px 4px 0 rgba(64, 112, 203, 0.06);
    box-shadow: 0 3px 4px 0 rgba(64, 112, 203, 0.06);
    padding: 6px 0;
    margin: 0;
    color: #63656E;
}

.monitor-navigation-admin .nav-item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 32px;
    flex: 0 0 32px;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 20px;
    list-style: none;
}

.monitor-navigation-admin .nav-item:hover {
    color: #409eff;
    cursor: pointer;
    background-color: #F0F1F5;
}

.tippy-popper .tippy-tooltip.navigation-message-theme {
    padding: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.navigation-sbmenu,
.navigation-menu-item {
    .cw-icon {
        text-align: left !important;
    }
}

// 适配到期情况的宽度
.navigation-other-wrapper {
    .bk-navigation-title {
        flex: 0 0 260px !important;
    }

    .monitor-navigation-header {
        .top-nav {
            max-width: calc(100vw - 530px);
        }
    }
}

/* 当屏幕宽度小于或等于 1280 像素时 */
@media screen and (max-width: 1280px) {
    .monitor-navigation-header {
        .top-nav {
            max-width: 810px !important;
        }
    }

    .navigation-other-wrapper {
        .monitor-navigation-header {
            .top-nav {
                max-width: 750px !important;
            }
        }
    }
}
