.title-area {
    background-image: url("../../assets/img/guidance_background.png");
    background-size: contain;
    margin-bottom: 10px;
    border-radius: 4px;
    padding: 15px;
    color: #1e252e;

    div:nth-child(1) {
        font-size: 25px;
        margin-bottom: 5px;
    }

    div:nth-child(2) {
        font-size: 14px;
        color: #475468;
    }
}
